/* Font family settings */
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
    * {
        font-family: 'Inter', sans-serif;
        box-sizing: border-box;
    }
}

/* Global styling */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.login--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Primary button styling */
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Body and Header styles */
body {
    margin: 0;
}

.header {
    background: linear-gradient(245.59deg, gray 0%, dimgray 28.53%, #808080 75.52%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    height: 10%;
    position: sticky;
    width: calc(100% - 32px);
    top: 0;
    z-index: 100;
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar--name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
}

.header img {
    height: 48px;
}

.navbar ul {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar a, .header a, .navbar--right--element {
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

.navbar--right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar--right--element {
    font-size: larger;
    border-radius: 15px;
    width: inherit;
    cursor: pointer;
}

    .navbar--right--element:hover {
        background-color: lightgray;
    }

.navbar--middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar--middle--element {
    font-size: larger;
    border-radius: 15px;
    width: inherit;
    cursor: pointer;
}

    .navbar--middle--element:hover {
        background-color: lightgray;
    }

.navbar--control {
    display: none;
}

/* Input styles */
.inputWrapper {
    margin-top: 15px;
}

.login--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.login--label {
    padding-left: 1rem;
}

.login--input {
    border: 1.5px solid #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 10px;
}

    .login--input:focus, .login--input:valid {
        outline: none;
        border: 1.5px solid #1a73e8;
    }

        .login--input:valid ~ label {
            transform: translateY(-50%) scale(0.7);
            background-color: white;
            padding: 0 .2em;
            color: #2196f3;
        }

.login--label {
    position: absolute;
    left: 15px;
    color: gray;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login--box {
    width: calc(100%-30px);
    margin: 15px;
}

.login--formMethod {
    display: flex;
    justify-content: space-around;
}

    .login--formMethod button {
        width: 50%;
        text-align: center;
        background: none;
        border: none;
        padding: 3px;
        margin-bottom: 10px;
    }

.login--activeMethod {
    border-bottom: 3px solid blue !important;
}

.login--submit {
    background-color: white;
    border: 2px solid blue;
    padding: 8px;
    border-radius: 0.8rem;
    width: 80px;
}

#profile {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background: white;
    border-radius: 1rem;
    border: 2px solid gray;
}

.home--content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quoteBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .quoteBlock q {
        font-style: italic;
        font-size: 1.1em;
    }

    .quoteBlock img {
        width: 200px;
    }


.imageGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 400px;
}

.imageGallery--object {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    border-radius: 25px;
}

    .imageGallery--object img {
        max-width: 100%;
        max-height: 100%;
    }

    .imageGallery--object p {
        position: absolute;
        top: 20px;
        text-align: center;
        font-size: 3em;
        font-weight: 900;
        color: black;
        -webkit-text-stroke: white 2px;
    }

.imageGallery--buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.home--userContent {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.boxWrapper {
    margin: 0px;
    padding: 0px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxButton {
    background-color: lightgray;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    border: none;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.boxButton:hover {
    background-color: darkgray;
}

.home--userContent--box {
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 250px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.home--userContent--box div {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.taskElement, .habitElement, .noteElement {
    background-color: darkgray;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    word-break: break-word;
}
.home--userContent--circleProgressbar {
    width: 40%;
}

.taskPage, .habitPage, .notePage {
    display: flex;
    flex-direction: column;
}

.taskPage--header, .habitPage--header, .notePage--header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.taskPage--header h2, .habitPage--header h2, .notePage--header h2 {
    margin-top: 0px;
}

.taskPage--header h1, .habitPage--header h1, .notePage--header h1 {
    margin-bottom: 0px;
}

.taskPage--calendar, .habitPage--calendar, .notePage--calendar {
    border-radius: 20px;
    min-width: 220px;
    max-height: 300px;
    margin-top: 15px;
}

.calendarTile--tasksNotDone, .calendarTile--habitsNotDone {
    position: absolute;
    transform: translateX(200%);
    background-color: red;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    margin: 0px;
    padding: 0px;
}

.calendarTile--daysWithNotes {
    position: absolute;
    transform: translateX(200%);
    background-color: green;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    margin: 0px;
    padding: 0px;
}

.taskPage--main, .taskPage--main, .notePage--main, .habitPage--main {
    display: flex;
    flex-direction: row;
    margin: 0px 30px;
    padding: 30px;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
}

.taskPage--main--addTask, .notePage--main--addNote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    font-size: 1.0em;
}

.notePage--main--addNote {
    min-width: 40%;
    min-height: 40%;
}

.notePage--main--addNote--text {
    min-width: 85%;
    min-height: 95%;
}

.taskPage--main--addTask--text, .notePage--main--addNote--text, .noteElement--text {
    background-color: silver;
    border-radius: 10px;
    border: none;
    font-size: 0.8em;
    height: 1.75em;
}

.taskPage--main--addTask--button, .notePage--main--addNote--button {
    background-color: darkgray;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    margin-left: 10px;
    width: 1.5em;
    height: 1.5em;
}

.taskPage--main--addTask--button:hover, .notePage--main--addNote--button:hover {
    background-color: gray;
}

.taskElement--deleteButton, .noteElement--deleteButton, .noteElement--editButton, .noteElement--saveButton {
    background-color: darkgray;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    width: 1.75em;
    height: 1.75em;
    font-size: 0.9em;
}

.taskElement--deleteButton:hover, .noteElement--deleteButton:hover, .noteElement--editButton:hover, .noteElement--saveButton:hover {
    background-color: gray;
}

.taskPage--main--taskList, .notePage--main--noteList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-height: 350px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 15px;
    font-size: 1.2em;
}

.habitPage--main--habitList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 350px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 15px;
    font-size: 1.2em;
}

.taskPage--main--stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    max-width: 70%;
    min-height: 350px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 15px;
    font-size: 1.2em;
}
.habitPage--main--stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20%;
    max-width: 80%;
    min-height: 350px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 15px;
    font-size: 1.2em;
}

.taskPage--main--stats--circleProgressbar, .habitPage--main--stats--circleProgressbar {
    width: 25%;
}

.habitPage--main--habitTable, .habitPage--main--habitTable *{
    border: 1px solid dimgray;
    border-radius: 4px;
    font-size: 0.95em;
}

.addHabit{
    display: flex;
}

.addHabit--text{
    width: 100px;
}

.habitPage--main--habitTable {
    border: none;
}

.tableFoot {
    border: none;
}

.about{
    margin: 25px;
    padding: 25px;
    background-color: gainsboro;
    border-radius: 25px;
}
.about h1{
    margin-top: 5px;
}

/* Responsive design */
@media only screen and (max-width: 970px) {
    .navbar {
        display: block;
        height: auto;
        padding: 5px;
    }

        .navbar > * {
            display: block;
        }

    .navbar--top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar--control {
        display: flex;
        padding: 0px;
        width: 40px;
        height: 40px;
        flex-direction: column;
        justify-content: space-around;
        background: inherit;
        border: none;
    }

        .navbar--control * {
            width: 100%;
            height: 3px;
            background-color: white;
            border-radius: 10px;
        }

    .navbar {
        display: none;
        width: 30%;
        position: fixed;
        top: 12.5%;
        right: 1px;
        justify-content: center;
        align-items: center;
        background-color: gray;
        opacity: 1;
        border-radius: 2px;
    }

        .navbar ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 0;
        }

        .navbar li,
        .navbar a, .navbar--right--element {
            width: 100%;
            text-align: center;
            padding: 10px;
        }

            .navbar li:hover {
                color: dimgray;
            }

    .visible {
        display: flex;
    }
}
